<footer class="text-sm">
        <section class="legal md:border-t md:border-grey-300 bg-light_grey pb-8 md:pb-0" style="height: 170;">
                <div class="md:flex md:justify-between md:items-center max-w-7xl px-6 md:mx-auto" style="height: 150;">
                            <div class="flex justify-center md:justify-start">
                                            <p
                                                                class="text-sm pt-6 mb-6 text-imperial-800 md:flex md:pt-0 md:text-xs md:my-3 md:items-center md:w-2/6">
                                                                                    <img class="hidden h-8 mr-3 md:block" loading="lazy"
                                                                                                            src="/img/namelogo.png" style="height: 125px; width: 415px;"
                                                                                                                                    alt="SOURCE HUB">
                                                                                                                                                            <span></span>
                                                                                                                                                                            </p>
                                                                                                                                                                                            <p class="hidden md:block ml-4 text-xs text-slate-500 font-medium py-6 w-4/6" style="position: absolute; right: 0%;">
                                                                                                                                                                                                                SourceHub is not affiliated with, or authorized by the manufacturers listed on this website.<br> &copy; 2024 SourceHub Middle East Group
                                                                                                                                                                                                                                </p>
                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                        </section>

                                                                                                                                                                                                                                                        </footer>