<header class="nav-header flex flex-col sticky top-0 z-30">
    <div class="nav-wrapper h-auto">
        <div class="top-nav-bar hidden bg-light_grey z-50 lg:block lg:h-auto text-sm py-2 px-5">
            <div class="max-w-7xl lg:flex m-auto font-headline xl:px-5 justify-end">
                <div class="max-w-7xl lg:flex m-auto font-headline xl:px-5 justify-start" style="margin-left: 0px;">
                    <img src="/img/name.jpg" alt style="height: 20px;">
                </div>
                <ul class="flex text-center justify-end">
                    <li class="inline-block pr-8">
                        <a href="tel:+971 509989183" class="hover:text-coral-400 hover:underline">
                            +971 509989183 <img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAf9JREFUSEvFlTFoU0EYx//fZYgoNER00MFNLIIOUjq4FaxFpEunbgUXi/ry7siQgigHimJALpdH7CguLfi2DIXipIiLgyB0KC4KvlEIimAkeZ++ksJ76YvkJQ2+8d59/9/97777H2HCH01YH/8FQFLKNWY+m8/n3Wq1+mMclwkHjuNM5XK5lwAWIlEielcoFOa01r9HhSQAUsqPAC70iTWDIFjyfb87CqQfwGkizPzcWnvjMAA/ARxNEyKiu8aYR1khCQdKqR1mPj/AxZa19vpYANd1N4loOUVkt9vtXvE87+tYAKXUKjOvx0WY+UOn05lvNBrfsorvdWK8qFQqnRFCfOkDTFtrd0cRPwCIBqSUTQCLMcH7tVrtwaEBlFIzzPx+X5CZfwkhZowxO3GIlPIUgKdEtG2MeTFoAalZ5Lpug4huxYo+h2F4tV6vf4rGHMc5KYR4Q0TTvRv/0BhzL7W90wa11kdardZrALOx/9EdeSyE8MMw9AFc7DurZ9baOwASl3VgmpbL5RN/W/MtgHPD7j8zbxSLxRWtdWe/5p9xXalUCu12O1rtfAZI5OT2UIDeJFJKlZg5ionUGInDieiJMWYtC2Bvbu9gK0S0CuDYAEevgiC4Fk/ezC+aUuo4M98kosvMfAnA6R4sipNZz/O+JxwNu7ejzsvsICto4oA/rtC8GQe1QMEAAAAASUVORK5CYII="
                                class="inline-block pl-2" style="height: 20px;">
                        </a>
                    </li>
                    |
                    <li class="inline-block px-8">
                        <a href="mailto:sales@sourcehubme.com" class="hover:text-coral-400 hover:underline">
                            sales@sourcehubme.com <img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYlJREFUSEvtlbFLAzEUxr/ckC52UBCK4CYI+k84FmcRBxEKCm0dTA7ayVEQWrjEwZ5gQRAHEWfp6D+h4CxIQahDXZrhnqRcj1rbXm2pQzHLQfLe93vvS3jHMOXFpqyPGQIIIbYAnABYndC2FwDHWut7qxNZJKV8IqK1CcXb6YyxZ6XU+jeAEIJCcR9AbkxQlKu1bhcfddAB2AMpZToIgivGWGoUEBHVHcfJKKVq3Tp9AcaYZKVS+czlcvOJROICwHYM5K7VamV93//I5/NznPOmjR/YAYBXAHta60cbKKXcIaJzAAs9oAZj7FApdWv3hRAbAK4BLMcBOjpVzrlbKpWahUIhZYyxlqXtIRHVOOeZcrlcLxaLSWOMB2C/u4BhHXTHvTmOc+B53kPYTdZ+lVLWOriuuxkEwSWApV4bRwV0nt0NgCOlVCMEWbvOiGh30P38ChCKvBNR2wbGWBXA4rDLHwcwyouNYv4BsXb9sOgvhp0d16cAVmLLGx7Qf1xPKDowfYZ+mdOy6AvGq64ZQ0Z4bgAAAABJRU5ErkJggg=="
                                class="inline-block pl-2" style="height: 20 px;" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav py-4 px-5 h-32 bg-white relative lg:py-0 sm:h-[79px] lg:border-b lg:border-grey-200">
            <div class=" lg:max-w-7xl lg:m-auto lg:h-full xl:px-5">
                <div class="flex justify-between lg:h-full">
                    <a class="my-auto lg:mr-4 flex-none transform -translate-y-1 whitespace-nowrap"
                        style="width: 151px; height: 46px;" href="/">
                        <img class="max-w-full h-auto" src="/img/logo.jpg" alt width="151" height="46">
                    </a>
                    <div
                        class="nav-contact-number hidden lg:flex flex-grow lg:w-5/12 transition-[width] duration-200 ease-in-out justify-end">
                        <a href="/" style="letter-spacing: 1px; margin-right: 15px;"
                            class="group hover:text-coral-400 text-lg flex items-center">
                            Home
                        </a>
                        <a href="/blog" style="letter-spacing: 1px; margin-right: 15px;"
                            class="group hover:text-coral-400 text-lg flex items-center">
                            Blog
                        </a>
                        <button style="background-color: orange; height: fit-content; margin-top: 12px;"
                            class="group hover:text-coral-400 text-lg flex items-center">
                            <a href="/quote" style="letter-spacing: 1px; margin: 15px;"
                                class="group hover:text-coral-400 text-lg flex items-center">
                                <b>GET A QUOTE</b>
                            </a></button>
                    </div>
                    <div style="transition: flex-basis 200ms ease-in-out;"
                        class="tablet-nav flex lg:flex-grow items-center ml-4 justify-end lg:w-auto lg:ml-2">
                        <div style="min-width: 268px;" class="hidden sm:block mr-3 lg:mr-0 w-full">
                            <form action="/user/search" data-suggestions="/user/suggestions" method="post"
                                class="desktop-nav part-search relative w-full">
                                <div
                                    class="flex items-center w-full rounded-full overflow-hidden group z-10 relative bg-light_grey focus-within:shadow-lg">
                                    <input type="text" name="query" placeholder="Search part"
                                        class="part-search-input bg-transparent flex-1 focus:outline-none placeholder-imperial-800 w-4/5 truncate text-imperial-800 border-0 rounded-l-lg px-4 h-[3rem]">
                                    <button class="hidden clear group-focus:inline-block p-2 mr-1" type="reset">
                                        X
                                    </button>
                                    <button
                                        class="search-btn flex-none transition-all duration-200 ease-in-out rounded-full text-grey-600 h-8 w-8 mr-2"
                                        aria-label="Search">
                                        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="mx-2">
                                            <g fill-rule="nonzero" class="fill-current">
                                                <path
                                                    d="M15.12 15.47a.922.922 0 0 1-.61-.222l-5.349-4.47c-.103-.094-.082 0-.082-.134s.186-.2.29-.294a.807.807 0 0 1 .398-.207c.012-.096.16-.234.233-.302.1-.095-.008-.244.136-.244.143 0 .144-.095.244 0l5.34 4.52c.178.148.28.36.28.58a.753.753 0 0 1-.28.581.934.934 0 0 1-.622.222" />
                                                <path
                                                    d="M6 .5a6 6 0 1 1 0 12 6 6 0 0 1 0-12zm0 1a5 5 0 1 0 0 10 5 5 0 0 0 0-10z" />
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                                <div
                                    class="search-dropdown hidden bg-white border border-grey-200 shadow-md px-4 text-imperial-800 rounded-b-xl absolute top-0 mt-6 w-full pt-12">
                                    <div class="search-prompt">
                                        <div class="flex gap-4 mb-4 text-sm font-medium">
                                            <svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg"
                                                class="w-4 h-4 align-top">
                                                <path class="fill-current"
                                                    d="M16.27 2.752c-.334-.336-.863-.336-1.17 0l-9.667 9.73L1.42 8.443c-.334-.337-.864-.337-1.17 0-.335.336-.335.87 0 1.177l4.597 4.627c.167.168.39.252.585.252a.847.847 0 0 0 .585-.252L16.27 3.93c.307-.309.307-.841 0-1.178z"
                                                    fill="#202E3F" fill-rule="nonzero" />
                                            </svg>
                                            <p class="flex-1">
                                                Please try to be as
                                                accurate as possible
                                                with your search.
                                            </p>
                                        </div>
                                        <div class="flex gap-4 mb-4 text-sm font-medium">
                                            <svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg"
                                                class="w-4 h-4 align-top">
                                                <path class="fill-current"
                                                    d="M16.27 2.752c-.334-.336-.863-.336-1.17 0l-9.667 9.73L1.42 8.443c-.334-.337-.864-.337-1.17 0-.335.336-.335.87 0 1.177l4.597 4.627c.167.168.39.252.585.252a.847.847 0 0 0 .585-.252L16.27 3.93c.307-.309.307-.841 0-1.178z"
                                                    fill="#202E3F" fill-rule="nonzero" />
                                            </svg>
                                            <p class="flex-1">
                                                We can quote you on
                                                1000s of specialist
                                                parts, even if they are
                                                not listed on our
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="search-results hidden pb-2 overflow-y-auto -mx-4 max-h-[25rem]">
                                    </div>
                                    <div class="search-none hidden ">
                                        <div class="flex gap-4 mb-4 text-sm font-medium">
                                            <svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg"
                                                class="w-4 h-4 align-top">
                                                <g transform="translate(0 .5)" fill="none" fill-rule="evenodd">
                                                    <circle fill="red" cx="8" cy="8" r="8" />
                                                    <path fill="#FFF" fill-rule="nonzero"
                                                        d="m5.751 12 2.21-3.359L10.17 12H12L8.97 7.73 11.527 4h-1.72L8.024 6.835 6.209 4H4.38l2.65 3.73L4 12z" />
                                                </g>
                                            </svg>
                                            <div class="flex-1">
                                                <p class="mb-4">
                                                    We can't find any
                                                    results for “<span class="query"></span>”.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="flex gap-4 mb-4 text-sm font-medium">
                                            <svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg"
                                                class="w-4 h-4 align-top">
                                                <path class="fill-current"
                                                    d="M16.27 2.752c-.334-.336-.863-.336-1.17 0l-9.667 9.73L1.42 8.443c-.334-.337-.864-.337-1.17 0-.335.336-.335.87 0 1.177l4.597 4.627c.167.168.39.252.585.252a.847.847 0 0 0 .585-.252L16.27 3.93c.307-.309.307-.841 0-1.178z"
                                                    fill="#202E3F" fill-rule="nonzero" />
                                            </svg>
                                            <p class="flex-1">
                                                Check your search term
                                                is typed correctly and
                                                includes all dashes (-)
                                                and spaces.
                                            </p>
                                        </div>
                                        <div class="flex gap-4 mb-4 text-sm font-medium">
                                            <svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg"
                                                class="w-4 h-4 align-top">
                                                <path class="fill-current"
                                                    d="M16.27 2.752c-.334-.336-.863-.336-1.17 0l-9.667 9.73L1.42 8.443c-.334-.337-.864-.337-1.17 0-.335.336-.335.87 0 1.177l4.597 4.627c.167.168.39.252.585.252a.847.847 0 0 0 .585-.252L16.27 3.93c.307-.309.307-.841 0-1.178z"
                                                    fill="#202E3F" fill-rule="nonzero" />
                                            </svg>
                                            <p class="flex-1">
                                                If you&#039;re still
                                                unable to find the part
                                                you need, get in touch.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="nav-burger h-5 lg:hidden flex flex-col justify-center cursor-pointer">
                            <div style="height: 2px" class="x w-5 bg-imperial-800"></div>
                            <div style="height: 2px; margin-top: 3px;" class="y w-5 bg-imperial-800"></div>
                            <div style="height: 2px; margin-top: 3px;" class="z w-5 bg-imperial-800"></div>
                        </div>
                    </div>
                </div>
                <div class="nav-search-bar mx-4 sm:hidden mt-3">
                    <form action="/user/search" data-suggestions="/user/suggestions" method="post"
                        class=" part-search relative sm:max-w-xs">
                        <div
                            class="flex items-center w-full rounded-full overflow-hidden group z-10 relative bg-white border border-coral-500 focus-within:shadow-lg h-[2.245rem]">
                            <input type="text" name="query" placeholder="Search part"
                                class="part-search-input bg-transparent flex-1 focus:outline-none placeholder-imperial-800 w-4/5 truncate text-imperial-800 border-0 rounded-l-lg px-4 h-[3rem]">
                            <button class="hidden clear group-focus:inline-block p-2 mr-1" type="reset">
                                X
                            </button>
                            <button
                                class="search-btn flex-none transition-all duration-200 ease-in-out rounded-full bg-coral-500 text-white  h-[1.75rem] w-7 sm:h-8 sm:w-8 mr-1"
                                aria-label="Search">
                                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="mx-2">
                                    <g fill-rule="nonzero" class="fill-current">
                                        <path
                                            d="M15.12 15.47a.922.922 0 0 1-.61-.222l-5.349-4.47c-.103-.094-.082 0-.082-.134s.186-.2.29-.294a.807.807 0 0 1 .398-.207c.012-.096.16-.234.233-.302.1-.095-.008-.244.136-.244.143 0 .144-.095.244 0l5.34 4.52c.178.148.28.36.28.58a.753.753 0 0 1-.28.581.934.934 0 0 1-.622.222" />
                                        <path
                                            d="M6 .5a6 6 0 1 1 0 12 6 6 0 0 1 0-12zm0 1a5 5 0 1 0 0 10 5 5 0 0 0 0-10z" />
                                    </g>
                                </svg>
                            </button>
                        </div>
                        <div
                            class="search-dropdown hidden bg-white border border-grey-200 shadow-md px-4 text-imperial-800 rounded-b-xl absolute top-0 mt-6 w-full pt-12 mt-5">
                            <div class="search-prompt">
                                <div class="flex gap-4 mb-4 text-sm font-medium">
                                    <svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg"
                                        class="w-4 h-4 align-top">
                                        <path class="fill-current"
                                            d="M16.27 2.752c-.334-.336-.863-.336-1.17 0l-9.667 9.73L1.42 8.443c-.334-.337-.864-.337-1.17 0-.335.336-.335.87 0 1.177l4.597 4.627c.167.168.39.252.585.252a.847.847 0 0 0 .585-.252L16.27 3.93c.307-.309.307-.841 0-1.178z"
                                            fill="#202E3F" fill-rule="nonzero" />
                                    </svg>
                                    <p class="flex-1">
                                        Please try to be as accurate as
                                        possible with your search.
                                    </p>
                                </div>
                                <div class="flex gap-4 mb-4 text-sm font-medium">
                                    <svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg"
                                        class="w-4 h-4 align-top">
                                        <path class="fill-current"
                                            d="M16.27 2.752c-.334-.336-.863-.336-1.17 0l-9.667 9.73L1.42 8.443c-.334-.337-.864-.337-1.17 0-.335.336-.335.87 0 1.177l4.597 4.627c.167.168.39.252.585.252a.847.847 0 0 0 .585-.252L16.27 3.93c.307-.309.307-.841 0-1.178z"
                                            fill="#202E3F" fill-rule="nonzero" />
                                    </svg>
                                    <p class="flex-1">
                                        We can quote you on 1000s of
                                        specialist parts, even if they
                                        are not listed on our website.
                                    </p>
                                </div>
                            </div>
                            <div class="search-results hidden pb-2 overflow-y-auto -mx-4 max-h-[25rem]">
                            </div>
                            <div class="search-none hidden ">
                                <div class="flex gap-4 mb-4 text-sm font-medium">
                                    <svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg"
                                        class="w-4 h-4 align-top">
                                        <g transform="translate(0 .5)" fill="none" fill-rule="evenodd">
                                            <circle fill="red" cx="8" cy="8" r="8" />
                                            <path fill="#FFF" fill-rule="nonzero"
                                                d="m5.751 12 2.21-3.359L10.17 12H12L8.97 7.73 11.527 4h-1.72L8.024 6.835 6.209 4H4.38l2.65 3.73L4 12z" />
                                        </g>
                                    </svg>
                                    <div class="flex-1">
                                        <p class="mb-4">
                                            We can't find any results
                                            for “<span class="query"></span>”.
                                        </p>
                                    </div>
                                </div>
                                <div class="flex gap-4 mb-4 text-sm font-medium">
                                    <svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg"
                                        class="w-4 h-4 align-top">
                                        <path class="fill-current"
                                            d="M16.27 2.752c-.334-.336-.863-.336-1.17 0l-9.667 9.73L1.42 8.443c-.334-.337-.864-.337-1.17 0-.335.336-.335.87 0 1.177l4.597 4.627c.167.168.39.252.585.252a.847.847 0 0 0 .585-.252L16.27 3.93c.307-.309.307-.841 0-1.178z"
                                            fill="#202E3F" fill-rule="nonzero" />
                                    </svg>
                                    <p class="flex-1">
                                        Check your search term is typed
                                        correctly and includes all
                                        dashes (-) and spaces.
                                    </p>
                                </div>
                                <div class="flex gap-4 mb-4 text-sm font-medium">
                                    <svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg"
                                        class="w-4 h-4 align-top">
                                        <path class="fill-current"
                                            d="M16.27 2.752c-.334-.336-.863-.336-1.17 0l-9.667 9.73L1.42 8.443c-.334-.337-.864-.337-1.17 0-.335.336-.335.87 0 1.177l4.597 4.627c.167.168.39.252.585.252a.847.847 0 0 0 .585-.252L16.27 3.93c.307-.309.307-.841 0-1.178z"
                                            fill="#202E3F" fill-rule="nonzero" />
                                    </svg>
                                    <p class="flex-1">
                                        If you&#039;re still unable to
                                        find the part you need, get in
                                        touch.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav
        class="nav-menu px-5 font-headline bg-white text-imperial-800 overflow-y-scroll h-0 lg:hidden transition-[height] duration-300 ease-out">
        <div>
            <div class="accordion border-b border-t border-grey-400">
                <div
                    class="accordion-header flex justify-between py-4 items-center text-base cursor-pointer hover:text-coral-500">
                    <p class="accordion-header-coral">Manufacturer</p>
                    <p class="accordion-open-close">+</p>
                </div>
                <div class="accordion-content pt-1 pb-4 hidden">
                    <div class="pb-4">
                        <div class="accordion-coral text-base font-semibold pb-2">
                            Most popular
                        </div>
                        <p class="text-sm">
                            We supply an extensive catalogue of
                            automation and control equipment from over
                            100 of the world’s leading parts
                            manufacturers.
                        </p>
                    </div>
                    <ul class="pb-3">
                        <li>
                            <a href="https://www.euautomation.com/uk/manufacturers/abb"
                                class="font-semibold mb-2 inline-block hover:border-b-4 hover:mb-1 border-coral-400">
                                ABB
                            </a>
                        </li>
                        <li>
                            <a href="https://www.euautomation.com/uk/manufacturers/fanuc"
                                class="font-semibold mb-2 inline-block hover:border-b-4 hover:mb-1 border-coral-400">
                                Fanuc
                            </a>
                        </li>
                        <li>
                            <a href="https://www.euautomation.com/uk/manufacturers/indramat"
                                class="font-semibold mb-2 inline-block hover:border-b-4 hover:mb-1 border-coral-400">
                                Indramat
                            </a>
                        </li>
                        <li>
                            <a href="https://www.euautomation.com/uk/manufacturers/mitsubishi"
                                class="font-semibold mb-2 inline-block hover:border-b-4 hover:mb-1 border-coral-400">
                                Mitsubishi
                            </a>
                        </li>
                        <li>
                            <a href="https://www.euautomation.com/uk/manufacturers/schneider"
                                class="font-semibold mb-2 inline-block hover:border-b-4 hover:mb-1 border-coral-400">
                                Schneider
                            </a>
                        </li>
                        <li>
                            <a href="https://www.euautomation.com/uk/manufacturers/siemens"
                                class="font-semibold mb-2 inline-block hover:border-b-4 hover:mb-1 border-coral-400">
                                Siemens
                            </a>
                        </li>
                        <li>
                            <a href="https://www.euautomation.com/uk/manufacturers/b-and-r"
                                class="font-semibold mb-2 inline-block hover:border-b-4 hover:mb-1 border-coral-400">
                                B&amp;R
                            </a>
                        </li>
                    </ul>
                    <a href="https://www.euautomation.com/uk/manufacturers"
                        class="text-sm text-classicblue-500 underline hover:text-coral-500">
                        View all manufacturers
                    </a>
                </div>
            </div>
            <div class="accordion border-b border-grey-400 text-sm">
                <div
                    class="accordion-header flex justify-between py-4 items-center text-base cursor-pointer hover:text-coral-500">
                    <p class="accordion-header-coral">Knowledge Hub</p>
                    <p class="accordion-open-close">+</p>
                </div>
                <div class="accordion-content pt-1 pb-4 hidden">
                    <div class="text-base font-semibold pb-2">
                        Resource centre
                    </div>
                    <p>
                        Our free resource centre has all the information
                        you’ll need to top up your knowledge on a range
                        of automation processes in one convenient place.
                    </p>
                    <div class="my-6">
                        <div class="flex pb-10">
                            <a href="https://www.euautomation.com/uk/knowledge-hub/watch"
                                class="text-center w-1/2 hover:text-coral-400">
                                <img width="48" height="48" class="m-auto h-12 w-12"
                                    src="https://assets.euautomation.com/img/2022/icons/Knowledgehub/64x64-Watch.svg"
                                    alt="Watch">
                                <div class="text-lg font-semibold">
                                    Watch
                                </div>
                            </a>
                            <a href="https://www.euautomation.com/uk/knowledge-hub/listen"
                                class="text-center w-1/2 hover:text-coral-400">
                                <img width="48" height="48" class="m-auto h-12 w-12"
                                    src="https://assets.euautomation.com/img/2022/icons/Knowledgehub/64x64-Listen.svg"
                                    alt="Listen">
                                <div class="text-lg font-semibold">
                                    Listen
                                </div>
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://www.euautomation.com/uk/knowledge-hub/read"
                                class="text-center w-1/2 hover:text-coral-400">
                                <img width="48" height="48" class="m-auto h-12 w-12"
                                    src="https://assets.euautomation.com/img/2022/icons/Knowledgehub/64x64-Read.svg"
                                    alt="Read">
                                <div class="text-lg font-semibold">
                                    Read
                                </div>
                            </a>
                            <a href="https://www.euautomation.com/uk/contact/subscribe"
                                class="text-center w-1/2 hover:text-coral-400">
                                <img width="48" height="48" class="m-auto h-12 w-12"
                                    src="https://assets.euautomation.com/img/2022/icons/Knowledgehub/64x64-Subscribe.svg"
                                    alt="Subscribe">
                                <div class="text-lg font-semibold">
                                    Subscribe
                                </div>
                            </a>
                        </div>
                    </div>
                    <a href="https://www.euautomation.com/uk/knowledge-hub"
                        class="text-sm text-classicblue-500 underline hover:text-coral-500">
                        Explore Knowledge Hub
                    </a>
                </div>
            </div>
            <div class="py-4 border-b border-grey-400 text-base">
                <a class="hover:text-coral-500 flex" href="https://www.euautomation.com/uk/about">
                    About Us
                </a>
            </div>
            <div class="py-4 border-b border-grey-400 text-base">
                <a class="hover:text-coral-500 flex" href="https://www.euautomation.com/uk/contact">
                    Contact Us
                </a>
            </div>
        </div>
        <div class="text-base py-4 border-b border-grey-400">
            <a href="tel:+441785303300" class="pb-2 block hover:text-coral-500">
                <img class="inline mr-4"
                    src="https://assets.euautomation.com/img/2022/icons/website-icon-16-x-16-phone-fill.svg" width="16"
                    height="16" alt="call">
                +44 1785 303300
            </a>
            <a href="/cdn-cgi/l/email-protection#8affe1caefffebfffee5e7ebfee3e5e4a4e9e5e7"
                class="block hover:text-coral-500">
                <img class="inline mr-4"
                    src="https://assets.euautomation.com/img/2022/icons/website-icon-16-x-16-email.svg" width="16"
                    height="16" alt="email">
                <span class="__cf_email__"
                    data-cfemail="1267795277677367667d7f73667b7d7c3c717d7f">[email&#160;protected]</span>
            </a>
        </div>
        <div class="py-3 border-b border-grey-400">
            <p class="text-sm">
                Region
            </p>
            <button class="language-picker focus:outline-none" data-open="language-modal">
                UK
                <img class="inline-block ml-2"
                    src="https://assets.euautomation.com/img/2022/icons/website-icon-16-x-16-web.svg" width="16"
                    height="16" alt="globe" />
            </button>
        </div>
        <div class="mx-2">
        </div>
    </nav>
</header>

<script src="/script/main.js"></script>